body{
    background-color: #212529;
    color: black;

}
.card-text{
    font-family: 'Staatliches', cursive; 
    color: rgb(14, 14, 124);
}
.descripcion{
    font-family: 'Comic Neue', cursive;
}
.barra-navegacion{
    display: flex;
    flex-direction: row;
    
}
header{
    width: 25%;
    background-color: black;
}
nav{
    width: 75%;
    background-color: black;
}
.ul-li{
    display: flex;
    flex-direction: row;
}
.li-a{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    color: white;
    display: inline-block;
}
.indice:hover{
    background-color: rgb(54, 54, 243);
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}
.contenido{
    display:flex;
    flex-direction: row;    
}
footer{
    background-color:black;
    color: white;
    text-align: center;  
}

#redes-sociales{
    display: inline-block;
}
.iconos{
    text-align: center;
    display: inline-block;
}
.logos:visited{
    color: white;
}
.logos:hover{
    color: red;
}